{% extends "dashboard/base.html" %}
{% block title %}
	Sedes
{% endblock title %}
{% block content %}
<style type="text/css">
	#add {
	    position: fixed;
	    display: block;
	    right: 0;
	    bottom: 0;
	    margin-right: 40px;
	    margin-bottom: 40px;
	    z-index: 900;
	}
</style>
<div class="mdl-grid">
	<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-cell ">
	  <thead>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric">Sede</th>
	      <th class="mdl-data-table__cell--non-numeric">Direccion</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for sede in object_list %}
		<tr>
	      <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'sede_update' pk=sede.pk %}">{{ sede.sede }}</a></td>
	      <td class="mdl-data-table__cell--non-numeric">{{ sede.direccion }}</td>
	    </tr>    
		{% empty %}
		    <li>No articles yet.</li>
		{% endfor %}
	    
	  </tbody>
	</table>
</div>
<a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--2dp" id="add" href="{% url 'sede_add' %}">
  <i class="material-icons">add</i>
</a>
{% endblock content %}
